<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Specifications</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Size</td>
            <td>{{ product.size }}</td>
        </tr>
        <tr>
            <td>Coloration</td>
            <td>{{ product.coloration }}</td>
        </tr>
        <tr>
            <td>Occurrence</td>
            <td>{{ product.occurrence }}</td>
        </tr>
        <tr>
            <td>Nesting</td>
            <td>{{ product.nesting }}</td>
        </tr>
    </tbody>
</table>
