<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- CSS -->
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class='nav menu'>
        <a class='nav-link menu-a' href="{% url 'category_list' %}">Categories</a>
        <a class='nav-link menu-a' href="{% url 'create_category' %}">Create new category</a>
        <a class='nav-link menu-a' href="{% url 'create_subcategory' %}">Create new subcategory</a>
        <a class='nav-link menu-a' href="">Create new product</a>
        <a class='nav-link menu-a' href="">Contacts</a>
        <a class='nav-link menu-a' href="">Login</a>
    </div>

    <div class="body-content">
        <h4 align='center'>This is a DEMO version of the MedicalWebSite. <br> The images are saved in the database, 
            but due to a reboot of the Heroku server, they disappear after a while.
        </h4>
        {% block content %}{% endblock %}
    </div>
</div>

{% block footer %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}

</body>
</html>