<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/bootstrap_styles.css' %}" rel="stylesheet" type="text/css"/>

        <!-- CSS -->
	    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/my_styles.css' %}">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home_page' %}">Ant Shop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="nav justify-content-end collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home_page' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'wish_list' %}">
                            Wish list <span class="badge badge-pill bg-warning text-dark">{{ wishlist.total_products }}</span>
                        </a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cart_view' %}">
                                Cart <span class="badge badge-pill badge-danger">{{ cart.total_products }}</span>
                        </a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'customer_account' %}">Your account</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1 class="my-4">
                        <a href="{% url 'home_page' %}" style="color: rgb(36, 36, 36); text-decoration: none;">Ant Shop</a>
                    </h1>
                    <div class="list-group">
                        {% for category in categories %}
                            <div class="btn-group dropright m-1">
                                <a href="{% url 'product_list' category.slug %}">  
                                    <button type="button" class="btn btn-secondary dropdown-toggle" style="width: 220px;">
                                        {{ category.name }}
                                    </button>
                                </a> 
                            </div>
                        {% endfor %}
                        <hr>
                        {% if subcategory_list %}
                            <form method="GET">
                                <div class="d-grid gap-2 col-11 mx-auto">
                                    {% for subcategory in subcategory_list %}
                                        <input class="btn btn-outline-secondary btn-sm my-1" style="width: 170px;" 
                                            type="submit" name="category_sorting" value="{{ subcategory }}">
                                    {% endfor %}
                                </div>
                            </form>
                            <hr>
                        {% endif %}
                    </div>
                    <form action="{% url 'product_search' %}" method="GET" class="ps-1" style="display: flex; align-items: center;">
                        {{ search_form.search }}
                        <input type="image" class="img-fluid icon" src="{% static '/img/search-icon.png' %}"/>
                    </form>
                    {% if subcategory_list %}
                        <form action="" method="GET" class="mt-2">
                            <div class="mb-3">
                                {{ sort_form.sorting }} 
                                <div align="center" class="mb-3">
                                    <button name='reset_s' class="btn btn-outline-secondary mt-2">Reset sort</button>
                                    <input type="submit" class="btn btn-outline-secondary mt-2" value="Sort">
                                </div>
                            </div>
                        </form>
                        <form action="" method="GET" class="mt-2">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                      Price
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        {{ filter_form.price_from }} - {{ filter_form.price_to }}
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                      Rating
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        {{ filter_form.rating_from }} - {{ filter_form.rating_to }}
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                      Avalible
                                    </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        {{ filter_form.availability }}
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div align="center" class="mb-3">
                                <button name='reset_f' class="btn btn-outline-secondary mt-2">Reset all filters</button>
                                <input type="submit" class="btn btn-outline-secondary mt-2" value="Filter">
                            </div>
                        </form>
                    {% endif %}
                </div>
                <div class="col-lg-8">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger alert-dismissible fade show my-4" role="alert">
                                    <strong>{{ message|safe }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% else %}
                                <div class="alert alert-success alert-dismissible fade show my-4" role="alert">
                                    <strong>{{ message|safe }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; 
                    <a href="https://github.com/nikolska" style="color: white; text-decoration: none;">AnMa Production</a> 2021
                </p>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- Core theme JS-->
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>