{% extends 'base.html' %}


{% block title %}Cart{% endblock %}


{% block content %}

{% if not cart.products.count %}
    <h3 class="text-center mt-5 mb-5">Your cart is empty</h3> 
{% endif %}

{% if cart.products.count > 0 %} 
    <h3 class="mt-3" align="center">Your cart</h3>
    <table class="table table-hover mt-4 mb-4">
        <thead align="center">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Product image</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total price</th>
            </tr>
        </thead>
        <tbody>
        {% for product in cart.products.all %}
            <tr id="product">
                <td>{{ product.title }}</td>
                <td class="w-25">
                    <img src="{{ product.image.url }}" class="img-fluid" alt="product image">
                </td>
                <td align='center' id="product_price">{{ product.price }}</td>
                <td align='center'><input class="form-control col-md-5" id="product_quantity" type="number" min_value=1 value="1"></td>
                <td align='center' id="product_final_price">{{ product.price }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="3"><h5><b>Final price</b></h5></td>
                <td align='center'><h5 id="cart_final_quantity"><b>{{ cart.total_products }}</b></h5></td>
                <td align='center'><h5 id="cart_final_price"><b>{{ cart.final_price }}</b></h5></td>
            </tr>
        </tbody>
    </table>
{% endif %}



{% endblock %}
