{% extends 'base.html' %}
{% load static %}


{% block title %}Your orders{% endblock %}


{% block content %}

{% if object_list %}
    <h3 class="text-center mt-3">YOUR ORDERS</h3>
    <table class="table my-4">
        <thead class="text-center">
            <tr>
                <th scope="col">ORDER DATE</th>
                <th scope="col">PRODUCTS</th>
                <th scope="col">TO PAY</th>
                <th scope="col">DELIVERY</th>
                <th scope="col">STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for order in object_list %}
                <tr>
                    <td>{{ order.order_date }}</td>
                    <td>
                        {% for product in order.cart.products.all %}
                            <li class="list-unstyled my-1">
                                <a href="{{ product.product.get_absolute_url }}">
                                    <img src="{{ product.product.image.url }}" class="img-fluid cart-img" alt="product image">
                                </a>
                                <a class="link-dark" href="{{ product.product.get_absolute_url }}">
                                    <b>{{ product }}</b></a> ({{ product.product.price }}$)
                            </li>
                        {% endfor %}
                    </td>
                    <td class="text-center">{{ order.cart.final_price }}$</td>
                    <td class="text-center">
                        {% if order.buying_type == 'delivery' %}
                            <img class="img-fluid icon" src="{% static '/img/delivery.png' %}" alt="delivery-icon">
                        {% else %}
                            <img class="img-fluid icon" src="{% static '/img/self-pick-up.png' %}" alt="self-pick-up-icon">
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if order.status == 'new' %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                                style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% elif order.status == 'in_progress' %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                                style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% elif order.status == 'is_ready' %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                                style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% elif order.status == 'completed' %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3 class="text-center my-5">You don't have any orders
        <br><br>
        <a href="{% url 'home_page' %}"><button class="btn btn-outline-dark">Go shopping</button></a>
    </h3>
{% endif %}

{% endblock %}
