{% extends 'base.html' %}

{% block title %}Registration{% endblock %}


{% block content %}

<div class="mt-4 mb-4" align="center">
    <form method="POST">
        {% csrf_token %}

        <div class="form-floating mb-3">
            {{ form.first_name }}
            <label for="floatingInput">First name</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.last_name }}
            <label for="floatingInput">Last name</label>
        </div>

        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <div class="form-floating mb-3">
            {{ form.username }}
            <label for="floatingInput">Username</label>
        </div>

        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <div class="form-floating mb-3">
            {{ form.email }}
            <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.phone }}
            <label for="floatingInput">Phone</label>
        </div>
        
        <div class="form-floating mb-3">
            {{ form.address }}
            <label for="floatingInput">Address</label>
        </div>

        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <div class="form-floating mb-3">
            {{ form.password }}
            <label for="floatingInput">Password</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.repeat_password }}
            <label for="floatingInput">Repeat password</label>
        </div><br>

        <input type="submit" class="btn btn-light" style="background: rgba(211, 209, 209, 0.616);" value="Register">
    </form>
</div>

{% endblock %}