{% extends 'base.html' %}
{% load static %}


{% block title %}Your orders{% endblock %}


{% block content %}

{% if object_list %}
    <h3 class="text-center mt-3">YOUR ORDERS</h3>
    <table class="table my-4">
        <thead class="text-center">
            <tr>
                <th scope="col">ORDER DATE</th>
                <th scope="col">PRODUCTS</th>
                <th scope="col">TO PAY</th>
                <th scope="col">DELIVERY</th>
                <th scope="col">STATUS</th>
            </tr>
        </thead>
        <tbody>
            {% for order in object_list %}
                <tr>
                    <td>{{ order.order_date }}</td>
                    <td>
                        {% for product in order.cart.products.all %}
                            <li class="list-unstyled my-1">
                                <a href="{{ product.product.get_absolute_url }}">
                                    <img src="{{ product.product.image.url }}" class="img-fluid cart-img" alt="product image">
                                </a>
                                <a class="link-dark" href="{{ product.product.get_absolute_url }}">
                                    <b>{{ product }}</b></a> ({{ product.product.price }}$)
                            </li>
                            {% if order.status == 'completed' %}
                                <hr>
                                {% if product.product.pk in dictionary %}
                                    {% for key, value in dictionary.items %}
                                        {% if key == product.product.pk %}
                                        <div class="card border-warning mb-3">
                                            <div class="card-header">
                                                Your rating for <b>{{ product.product }}</b> is <b>{{ value }}</b>.
                                            </div>
                                          </div> 
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <form action="{% url 'rate_product' product.product.slug %}" method="POST">
                                        {% csrf_token %}
                                        
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customer_rating" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">1</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customer_rating" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">2</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customer_rating" id="inlineRadio1" value="3">
                                            <label class="form-check-label" for="inlineRadio1">3</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customer_rating" id="inlineRadio2" value="4">
                                            <label class="form-check-label" for="inlineRadio2">4</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customer_rating" id="inlineRadio1" value="5">
                                            <label class="form-check-label" for="inlineRadio1">5</label>
                                        </div>
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customer_rating" id="inlineRadio2" value="6">
                                            <label class="form-check-label" for="inlineRadio2">6</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customer_rating" id="inlineRadio1" value="7">
                                            <label class="form-check-label" for="inlineRadio1">7</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customer_rating" id="inlineRadio2" value="8">
                                            <label class="form-check-label" for="inlineRadio2">8</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customer_rating" id="inlineRadio1" value="9">
                                            <label class="form-check-label" for="inlineRadio1">9</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="customer_rating" id="inlineRadio2" value="10">
                                            <label class="form-check-label" for="inlineRadio2">10</label>
                                        </div>

                                        <input type="submit" class="btn btn-outline-info mt-2" value="&#x272C; RATE THE PRODUCT &#x272C;">
                                    </form>
                                {% endif %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center">{{ order.cart.final_price }}$</td>
                    <td class="text-center">
                        {% if order.buying_type == 'delivery' %}
                            <img class="img-fluid icon" src="{% static '/img/delivery.png' %}" alt="delivery-icon">
                        {% else %}
                            <img class="img-fluid icon" src="{% static '/img/self-pick-up.png' %}" alt="self-pick-up-icon">
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if order.status == 'new' %}
                            <div class="progress mt-2">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                                style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% elif order.status == 'in_progress' %}
                            <div class="progress mt-2">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                                style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% elif order.status == 'is_ready' %}
                            <div class="progress mt-2">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                                style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% elif order.status == 'completed' %}
                            <div class="progress mt-2">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3 class="text-center my-5">You don't have any orders
        <br><br>
        <a href="{% url 'home_page' %}"><button class="btn btn-outline-dark">Go shopping</button></a>
    </h3>
{% endif %}

{% endblock %}
