{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign in{% endblock %}


{% block content %}

<div class="mt-3 mb-3" align='center'>
    <h2>Sign in</h2><br>

    <form method="POST">
        {% csrf_token %}
        
        {{ form|crispy }}

        <a href="{% url 'password_reset' %}" style="color: black;">Forgot your password?</a><br><br>

        <input type="submit" class="btn btn-light" style="background: rgba(211, 209, 209, 0.616);" value="sign in">
    </form>

</div>

{% endblock %}
