.contact-form {
    border-color: black;
    border-top: none;
    border-right: none;
    border-left: none;
}

.contact-image {
    width: 7rem;
}

.icon {
    padding: 5px;
    width: 3rem;
}

.cart-img {
    width: 5rem;
}

.order-img {
    width: 20rem;
}

