body {
    background: rgb(199, 247, 193);
}
.body-content {
    padding: 20px;
}
.menu {
    background-color:rgba(2, 180, 250, 0.4);
    padding: 5px;
    margin: 10px 5px;
    display: flex;
    justify-content: space-around;
    border: thick double white;
    border-collapse: collapse;
    border-radius: 20px;
}
.menu-a {
    padding: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.object-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    text-align: center;
    text-decoration: none;
}
.categories-grid {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    padding: 10px;
    margin: 15px;
}
.products-grid {
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    padding: 10px;
    margin: 15px;
}
.subcategory-list {
    color:rgb(0, 0, 0);
    text-decoration: none;
}