{% extends 'base.html' %}

{% block title %}Categories{% endblock %}


{% block content %}

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for category in object_list %}
        <div class="col">
            <div class="card h-100">
                <p align='center'>
                    <img src="{{ category.image.url }}" style="max-width: 120px;" class="card-img-top" alt="category-image">
                </p>
                <div class="card-body">
                    <h5 class="card-title object-name">{{ category.name }}</h5>
                    <p class="card-text">
                        {% if subcategories %}
                            {% for subcategory in subcategories %}
                                {% if subcategory.category == category %}
                                    <li>
                                        <a href="{% url 'product_list' subcategory.pk %}" class="subcategory-list">{{ subcategory.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
