{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}


{% block content %}

<h1 align='center'>
    <img src="{{ product.image.url }}" class="card-img-top" style="max-width: 500px;" alt="product-image"><br>
    {{ product.name }} 
</h1>
<p><b>Description:</b> {{ product.description }}</p>
<p><b>Category:</b> {{ product.subcategory }}</p>
<p><b>Price:</b> {{ product.price }}</p>
<p><b>Code:</b> {{ product.code }}</p>
<p><b>Rating:</b> {{ product.rating }}</p>
<p><b>Availability:</b> {{ product.availability }}</p>

{% endblock %}
